/* ===== Login Page Container ===== */
.login-page-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 1024px) {
  .login-page-container {
    flex-direction: column;
  }
}
